.dark {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;
  --color-primary-950: #082f49;
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;
  --color-neutral-950: #030712;
  --color-success-50: #f0fdf4;
  --color-success-500: #22c55e;
  --color-success-900: #14532d;
  --color-error-50: #fef2f2;
  --color-error-500: #ef4444;
  --color-error-900: #7f1d1d;
  --color-warning-50: #fffbeb;
  --color-warning-500: #f59e0b;
  --color-warning-900: #78350f;
  --color-info-50: #eff6ff;
  --color-info-500: #3b82f6;
  --color-info-900: #1e3a8a;
  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;
  --color-teal-400: #2dd4bf;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
  --color-teal-700: #0f766e;
  --color-teal-800: #115e59;
  --color-teal-900: #134e4a;
  --color-teal-950: #042f2e;
  --radius: 0.5rem;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-base: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --size-xs: 640rem;
  --size-sm: 640rem;
  --size-md: 768rem;
  --size-lg: 1024rem;
  --size-xl: 1280rem;
  --size-2xl: 1400rem;
  --spacing-0: 0px;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --fontSize-app-h1-mobile: 2.25rem;
  --fontSize-app-h1: 3rem;
  --fontSize-app-h2-mobile: 1.875rem;
  --fontSize-app-h2: 2.25rem;
  --fontSize-app-h3-mobile: 1.25rem;
  --fontSize-app-h3: 1.5rem;
  --fontSize-app-body: 1rem;
  --fontSize-app-small: 0.875rem;
  --fontSize-app-caption: 0.75rem;
  --fontWeight-thin: 100;
  --fontWeight-extralight: 200;
  --fontWeight-light: 300;
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.25;
  --lineHeight-snug: 1.375;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  --lineHeight-loose: 2;
  --letterSpacing-tighter: -0.05em;
  --letterSpacing-tight: -0.025em;
  --letterSpacing-normal: 0;
  --letterSpacing-wide: 0.025em;
  --letterSpacing-wider: 0.05em;
  --letterSpacing-widest: 0.1em;
  --fontFamily-sans: Arial, Helvetica, sans-serif;
  --fontFamily-inter: Inter, Arial, Helvetica, sans-serif;
  --fontFamily-source-serif-pro: Source Serif Pro, Georgia, Times New Roman, serif;
  --fontFamily-serif: Source Serif Pro, Georgia, Times New Roman, serif;
  --fontFamily-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --background: #030712;
  --muted: #111827;
  --theme-color-background-subtle: #1f2937;
  --popover: #111827;
  --theme-color-background-disabled: #1f2937;
  --card-foreground: #f9fafb;
  --muted-foreground: #e5e7eb;
  --theme-color-foreground-subtle: #9ca3af;
  --theme-color-foreground-disabled: #4b5563;
  --input: #1f2937;
  --theme-color-border-strong: #374151;
  --ring: #38bdf8;
  --primary: #14b8a6;
  --theme-color-primary-hover: #2dd4bf;
  --primary-foreground: #042f2e;
  --theme-color-primary-muted: rgba(20, 184, 166, 0.2);
  --secondary: #1f2937;
  --secondary-foreground: #f9fafb;
  --accent: #1f2937;
  --accent-foreground: #f9fafb;
  --theme-color-success-default: #22c55e;
  --theme-color-success-foreground: #030712;
  --theme-color-success-muted: rgba(34, 197, 94, 0.2);
  --theme-color-warning-default: #f59e0b;
  --theme-color-warning-foreground: #030712;
  --theme-color-warning-muted: rgba(245, 158, 11, 0.2);
  --destructive: #ef4444;
  --destructive-foreground: #030712;
  --theme-color-error-muted: rgba(239, 68, 68, 0.2);
  --theme-color-info-default: #3b82f6;
  --theme-color-info-foreground: #030712;
  --theme-color-info-muted: rgba(59, 130, 246, 0.2);
  --theme-elevation-low: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  --theme-elevation-medium: 0 1px 3px 0 rgba(0, 0, 0, 0.4), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  --theme-elevation-high: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --theme-elevation-higher: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  --theme-elevation-highest: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}